*{
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code', Tahoma, Verdana, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #16222E;
    color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg/home-cover.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 2% 2%; /* padding for the top and sides of the nav bar items and the logo */
}

nav {
    display: flex; /* makes images side by side */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: clamp(100px, 10vw, 10vw); /* sets the min to 100 px and the max to 10vw, but prefers 10vw (the middle) */
    height: auto;
    object-fit: cover; /* prevents stretching */
}

nav ul li {
    display: inline-block; /* makes them horizontally aligned */
    list-style-type: none;
    margin: 1vw 1vw;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: clamp(13px, 1vw, 1vw); /* sets the min to 13 px and the max to 1vw, but prefers 1vw (the middle) */
}

nav ul li:hover a {
    color: white;
    transition: 0.5s;
}

.header-text {
    position: relative;
    text-align: center;
    top: 19vh;
    color: white;
}

.header-text h1 {
    font-size: 10vw;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-text h2 {
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-arrow {
    width: 65px; 
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
}